.myitems {
  color: red;
  border: 20px;
  margin: 20px;
  padding: 20px;
  float: left;
}
#items {
  color: orange;
  border: 20px;
  margin: 20px;
  padding: 20px;
  float: left;
}
#my-items {
  color: indigo;
  border: 20px;
  margin: 20px;
  padding: 20px;
  float: left;
}
